* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.banner {
  background: $main url(../images/bg-pattern.svg);
  background-repeat: repeat;

  h1 {
    color: $white;
    font-size: 5em;
    line-height: .85;
    margin: 0;
    padding: 2em 0;
    text-transform: uppercase;
  }
}

.container {
  margin: 0 auto;
  max-width: 90%;
  width: 1140px;
}

.nav {
  background: $secondary;

  a, label {
    color: $white;
    font-size: 1.25em;
    font-weight: 700;
    margin-right: 2em;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $highlight;
    }
  }

  label {
    border-right: 1px solid $highlight;
    margin-right: 0;
    padding-right: 1.5em;

    &:hover {
      color: $white;
    }
  }

  input[type="text"] {
    background: transparent;
    border: 0;
    color: $white;
    font-size: 1.25em;
    font-weight: 400;
    outline: none;
    padding: 2em 1em;
  }
}

.resources {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    float: left;
    overflow: hidden;
    position: relative;
    transition: transform .4s, opacity .1s .3s;
    width: 25%;

    img {
      max-width: 100%;
      width: 100%;
    }

    .resource-info {
      @include sizing(100%);
      background: rgba($highlight, .85);
      bottom: 0;
      opacity: 0;
      padding: 2em 10%;
      position: absolute;
      top: auto;
      transform: translateY(100%);
      transition: transform .4s, opacity .1s .3s;

      h2 {
        color: $white;
        font-size: 1.5em;
        line-height: 1;
        margin-bottom: 1em;
        text-transform: uppercase;
      }

      .button {
        border: 2px solid $white;
        border-radius: .5em;
        color: $white;
        font-size: .9em;
        font-weight: 700;
        padding: 1em 1.5em;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .4s ease-in-out;

        &:hover {
          border: 2px solid $main;
          color: $main;
        }
      }

      .price {
        color: $main;
        display: inline;
        font-weight: 700;
        padding-left: 1.5em;
      }
    }
  }

  li:hover {
    img {
      transform: scale(1.5);
      transition: transform .4s, opacity .1s .3s;
    }

    .resource-info {
      opacity: 1;
      transform: translateY(0);
      transition: transform .4s, opacity .1s;
    }
  }
}

@media only screen and (max-width: 1250px) {
  .resources {
    li {
      width: 33.33%;
    }
  }
}

@media only screen and (max-width: 900px) {
  .banner {
    h1 {
      font-size: 3.5em;
      padding: 1.5em 0;
    }
  }

  .container {
    margin: 0 auto;
    max-width: 90%;
    width: 1140px;
  }

  .nav {
    a, label {
      font-size: 1.1em;
      margin-right: 1em;
    }
  }

  input[type="text"] {
    font-size: 1.1em;
    padding: 1.5em .5em;
  }

  .resources {
    li {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .banner {
    h1 {
      font-size: 2.5em;
    }
  }

  .nav {
    a, label {
      display: none;
    }
  }

  .resources {
    li {
      width: 100%;
    }
  }
}
