<div class="banner">
	<div class="container">
		<h1>Pixel Perfect<br> Design Resources</h1>
	</div>
</div>

<div class="nav">
	<div class="container">
		<a href="#">Popular</a>
		<a href="#">Recent</a>
		<label for="search">Search</label>
		<input type="text" id="search" placeholder="iPhone 6+ template">
	</div>
</div>

<ul class="resources">
	<li>
		<img src="images/01.png" />
		<div class="resource-info">
			<h2>Example Resources</h2>
			<a href="#" class="button">View Resource</a>
			<p class="price">$22</p>
		</div>
	</li>

	<li>
		<img src="images/02.png" />
		<div class="resource-info">
			<h2>Example Resources</h2>
			<a href="#" class="button">View Resource</a>
			<p class="price">$22</p>
		</div>
	</li>

	<li>
		<img src="images/03.png" />
		<div class="resource-info">
			<h2>Example Resources</h2>
			<a href="#" class="button">View Resource</a>
			<p class="price">$22</p>
		</div>
	</li>

	<li>
		<img src="images/04.png" />
		<div class="resource-info">
			<h2>Example Resources</h2>
			<a href="#" class="button">View Resource</a>
			<p class="price">$22</p>
		</div>
	</li>

	<li>
		<img src="images/05.png" />
		<div class="resource-info">
			<h2>Example Resources</h2>
			<a href="#" class="button">View Resource</a>
			<p class="price">$22</p>
		</div>
	</li>

	<li>
		<img src="images/06.png" />
		<div class="resource-info">
			<h2>Example Resources</h2>
			<a href="#" class="button">View Resource</a>
			<p class="price">$22</p>
		</div>
	</li>

	<li>
		<img src="images/07.png" />
		<div class="resource-info">
			<h2>Example Resources</h2>
			<a href="#" class="button">View Resource</a>
			<p class="price">$22</p>
		</div>
	</li>

	<li>
		<img src="images/08.png" />
		<div class="resource-info">
			<h2>Example Resources</h2>
			<a href="#" class="button">View Resource</a>
			<p class="price">$22</p>
		</div>
	</li>

	<li>
		<img src="images/09.png" />
		<div class="resource-info">
			<h2>Example Resources</h2>
			<a href="#" class="button">View Resource</a>
			<p class="price">$22</p>
		</div>
	</li>

	<li>
		<img src="images/10.png" />
		<div class="resource-info">
			<h2>Example Resources</h2>
			<a href="#" class="button">View Resource</a>
			<p class="price">$22</p>
		</div>
	</li>

	<li>
		<img src="images/11.png" />
		<div class="resource-info">
			<h2>Example Resources</h2>
			<a href="#" class="button">View Resource</a>
			<p class="price">$22</p>
		</div>
	</li>

	<li>
		<img src="images/12.png" />
		<div class="resource-info">
			<h2>Example Resources</h2>
			<a href="#" class="button">View Resource</a>
			<p class="price">$22</p>
		</div>
	</li>

	<li>
		<img src="images/13.png" />
		<div class="resource-info">
			<h2>Example Resources</h2>
			<a href="#" class="button">View Resource</a>
			<p class="price">$22</p>
		</div>
	</li>

	<li>
		<img src="images/01.png" />
		<div class="resource-info">
			<h2>Example Resources</h2>
			<a href="#" class="button">View Resource</a>
			<p class="price">$22</p>
		</div>
	</li>

	<li>
		<img src="images/02.png" />
		<div class="resource-info">
			<h2>Example Resources</h2>
			<a href="#" class="button">View Resource</a>
			<p class="price">$22</p>
		</div>
	</li>

	<li>
		<img src="images/03.png" />
		<div class="resource-info">
			<h2>Example Resources</h2>
			<a href="#" class="button">View Resource</a>
			<p class="price">$22</p>
		</div>
	</li>

	<li>
		<img src="images/03.png" />
		<div class="resource-info">
			<h2>Example Resources</h2>
			<a href="#" class="button">View Resource</a>
			<p class="price">$22</p>
		</div>
	</li>

	<li>
		<img src="images/04.png" />
		<div class="resource-info">
			<h2>Example Resources</h2>
			<a href="#" class="button">View Resource</a>
			<p class="price">$22</p>
		</div>
	</li>

	<li>
		<img src="images/05.png" />
		<div class="resource-info">
			<h2>Example Resources</h2>
			<a href="#" class="button">View Resource</a>
			<p class="price">$22</p>
		</div>
	</li>

	<li>
		<img src="images/06.png" />
		<div class="resource-info">
			<h2>Example Resources</h2>
			<a href="#" class="button">View Resource</a>
			<p class="price">$22</p>
		</div>
	</li>

	<li>
		<img src="images/07.png" />
		<div class="resource-info">
			<h2>Example Resources</h2>
			<a href="#" class="button">View Resource</a>
			<p class="price">$22</p>
		</div>
	</li>

	<li>
		<img src="images/08.png" />
		<div class="resource-info">
			<h2>Example Resources</h2>
			<a href="#" class="button">View Resource</a>
			<p class="price">$22</p>
		</div>
	</li>

	<li>
		<img src="images/09.png" />
		<div class="resource-info">
			<h2>Example Resources</h2>
			<a href="#" class="button">View Resource</a>
			<p class="price">$22</p>
		</div>
	</li>

	<li>
		<img src="images/10.png" />
		<div class="resource-info">
			<h2>Example Resources</h2>
			<a href="#" class="button">View Resource</a>
			<p class="price">$22</p>
		</div>
	</li>

	<li>
		<img src="images/11.png" />
		<div class="resource-info">
			<h2>Example Resources</h2>
			<a href="#" class="button">View Resource</a>
			<p class="price">$22</p>
		</div>
	</li>

	<li>
		<img src="images/12.png" />
		<div class="resource-info">
			<h2>Example Resources</h2>
			<a href="#" class="button">View Resource</a>
			<p class="price">$22</p>
		</div>
	</li>

	<li>
		<img src="images/13.png" />
		<div class="resource-info">
			<h2>Example Resources</h2>
			<a href="#" class="button">View Resource</a>
			<p class="price">$22</p>
		</div>
	</li>

	<li>
		<img src="images/01.png" />
		<div class="resource-info">
			<h2>Example Resources</h2>
			<a href="#" class="button">View Resource</a>
			<p class="price">$22</p>
		</div>
	</li>

</ul>